* {
    font-family: 'Orbitron';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator-container {
    background-color: darkslategray;
    height: 100vh;
    width: 100vw;    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sign, .numbers-container {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0 10px;
    font-weight: 500;
    text-align: right;
}

.numbers-container {
    min-height: 60%; 
    font-size: 35px;   
}

.sign {
    font-size: 45px;
    padding-top: 15px
}
.calculator-screen {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: gray;
    margin: 30px 10px 10px 10px;
    width: 90%;
    height: 25%;
	box-shadow: black 0px 0px 7px 1px inset;
    border-radius: 7px;
}

.buttons-container {
    width: 90%;
    margin-top: 50px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    gap: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.row button {
    font-size: 40px;
    padding: 5px 5px;
    width: 20%;
    height: 9vh;
}

.equal {
    width: 100%;
    display: flex;
    justify-content: center;
}

.equal button {
    font-size: 40px;
    width: 80%;
    height: 10vh;
    padding: 10px 15px;
}

#CE, #plusminus {
    font-size: 30px;
}

button {
    background-color: antiquewhite;
    box-shadow: 2px 2px 0 hsl(0deg 0% 0% / 0.5);
    border-radius: 5px;
    outline-offset: 4px;
}

button:active {
    transform: translateY(+2px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    box-shadow: 1px 1px 0 hsl(0deg 0% 0% / 0.5);
}

@media screen and (min-width: 800px) {
    body {
        background-color: rgb(194, 192, 192);
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .calculator-screen {
        height: 30%;
    }

    .buttons-container {
        height: 55%;
    }

    .calculator-container {
        width: 21%;
        height: 72%;
        border-radius: 10px;
        box-shadow: 7px 9px 15px;
    }

    .row button {
        font-size: 25px;
        height: 55px;
    }

    .sign {
        padding-top: 0;
    }

    .equal button {
        font-size: 25px;
        height: 65px;
    }

    #CE, #plusminus {
        font-size: 20px;
    }
}